

\:root
    --notes-grid-auto: row dense
    font-size: 16px

\*
    box-sizing: border-box

p
    margin: 0 0 1em 0

body
    margin: 0px
    padding: 0px
    color: #fff
    background-color: #002 
    line-height: 1.5em

.brick
    background-color: #224
    border-radius: 1em
    padding: .5em

$brick: 18rem
$cut: 3
$gap: 1rem

.m
    margin: $gap

.mason
    --gap: #{$gap}    
    --cut: #{$cut}
    --brick: #{$brick}
    // --brick-span: calc(var(--span-b) * var(--cut) + var(--span-c))
    --span-b: 1 
    --span-c: 0
    
    display: grid
    grid-template-columns: repeat(auto-fill, #{$brick})
    // grid-auto-rows: ($gap + $brick - $gap*$cut) / $cut
    grid-auto-rows: calc(calc(var(--gap) + var(--brick) - var(--gap)*var(--cut)) / var(--cut))
    
    gap: 1em
    
    grid-auto-flow: row dense
    justify-content: center


.mason > *
    // --brick-span: calc(var(--span-b) * var(--cut) + var(--span-c))
    // grid-row-end: span $cut
    grid-row-end: span calc(var(--span-b) * var(--cut) + var(--span-c))
    // grid-row-end: span var(--brick-span)


.mason-auto > *:nth-child(2n)
    --span-c: 1
.mason-auto > *:nth-child(4n)
    --span-c: 2
.mason-auto > *:nth-child(5n)
    --span-c: 3

@for $s from 0 through 3
    [brick-size^="#{$s}/"]
        --span-b: #{$s}!important
@for $s from 0 through $cut
    [brick-size$="/#{$s}"]
        --span-c: #{$s}!important